@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:300,400,700');

body {
    font-family: 'Open Sans', sans-serif;
}

h1.title {
    font-weight: 300;
    font-size: 32px;
    color: #777;
    text-align: center;
    padding-top: 40px;
}

hr {
    background: #777;
    height: 1px;
    border: none;
    width: 100px;
    text-align: center;
    margin: 30px auto;
}

.centered {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


.icon-heart:before {
    content: "\e9da";
    color: #e74c3c;
}

.icon-github:before {
    content: "\eab0";
}





div.nav-container {
    position: relative;
    height: 80px;
    background: gray;
}

div.nav-container nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    background: white;
    box-shadow: 0 4px 8px -6px rgba(0, 0, 0, .3);
}

div.nav-container nav .centered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.nav-container nav .centered img {
    height: 60px; /* TODO: Size relative to parent */
}

div.nav-container nav .centered ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

div.nav-container nav .centered ul li {
    margin: 0 5px;
}

div.nav-container nav .centered ul li.active {
    border-bottom: 2px solid #777;
}

div.nav-container nav .centered ul li a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}





section.landing-page {
    width: 100%;
    height: calc(100vh - 80px);
    background: lightgrey;
}



section.images {
    width: 100%;
    background: #f2f2f2;
}

section.images .centered {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

section.images .centered .box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    height: 400px;
    background: orange;
    overflow: hidden;
}

section.images .centered .box img {
    width: 100%;
    height: auto;
}


section.images .centered .box:hover .overlay {
    opacity: 1;
}

section.images .centered .box .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, .75);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



section.places {

}

section.places div#map {
    width: 100%;
    height: 700px;
    margin-top: 40px;
}



footer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;
    box-shadow: 0 0 2px #ccc;

}

footer .centered p.credits {
    font-weight: bold;
    color: #424242;
}


footer .centered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .centered .social span {
    font-size: 22px;
    cursor: pointer;
    opacity: .6;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer .centered .social span:hover {
    font-size: 22px;
    opacity: 1;
}





